header.container-fluid
      .container
            #headerWrap
                #animatedTxt
                    include ../inc/headerTxt
                    //- include ../inc/subTxt
                    #hireCardWrapper
                        include ../inc/card