include ../inc/oneInputMixin
section#register.container-fluid
      .container
                         
                        #leftSide
                            #title
                                h1 Login
                            form
                                .row   
                                    col-12.col-md-6  
                                        +inputOne('text','phone or email address')(class="fa fa-envelope")
                                        +inputOne('password','password')(class="fa fa-lock")
                                        input(type="submit")
                        #rightSide
