include ../inc/oneInputMixin
section#login.container-fluid
       .container
            #loginCard
                .row
                    .col-12.col-md-6
                        
                        #leftSide
                            #title
                                h1 Login
                            form
                                .col-12.col-md-12.group-input
                                    +inputOne('text','firstName')(class="fa fa-user")
                                    +inputOne('text','LastName')(class="fa fa-user-plus")
                                +inputOne('text',' phone')(class="fa fa-phone")
                                +inputOne('text','email address')(class="fa fa-envelope")
                                +inputOne('password','password')(class="fa fa-lock")
                                input(type="submit")
                    .col-12.col-md-6
                        #rightSide
                            #title
                                h1 Or login with
                            form
                                .col-12.col-md-12
                                    

                