include ../inc/oneInputMixin
include ../inc/onSelectMixin
section#loginPage.container-fluid
       .container
            #loginCard              
                        #leftSide
                            #title
                                h1 log
                                span in
                            form
                                +inputOne('text',' phone')(class="fa fa-phone")
                                +inputOne('password','password')(class="fa fa-lock")
                                a(href="/").forgetPassword Forgot your password ?
                                #submiting
                                    #rememPass
                                        input(type="checkbox").styled-checkbox#rem
                                        label(for="rem") Remember Password 
                                button(type="submit" value="Register") Login
                                    i.fa.fa-arrow-right
                        #rightSide
                                //- h1 any else               