include ../inc/oneInputMixin
section#register.container-fluid
       .container
            #registerCard              
                        #leftSide
                            #title
                                h1 Sign up
                            form
                                .row
                                    .col-12.col-md-6
                                        +inputOne('text','firstName')(class="fa fa-user")
                                    .col-12.col-md-6
                                        +inputOne('text','LastName')(class="fa fa-user-plus")
                                +inputOne('text',' phone')(class="fa fa-phone")
                                +inputOne('password','password')(class="fa fa-lock")
                                +inputOne('password','retype Password')(class="fa fa-lock")
                                +inputOne('text','email address')(class="fa fa-envelope")
                                +inputOne('text','Company')(class="fa fa-building")
                                input(type="submit")
                        #rightSide
                                //- h1 any else               