include ../inc/oneInputMixin
include ../inc/onSelectMixin
section#register.container-fluid
       .container
            #registerCard              
                        #leftSide
                            #title
                                h1 Register
                                span Usher
                            form
                                .row
                                    .col-12.col-md-6
                                        +inputOne('text','firstName')(class="fa fa-user")
                                    .col-12.col-md-6
                                        +inputOne('text','LastName')(class="fa fa-user-plus")
                                +inputOne('text',' phone')(class="fa fa-phone")
                                +inputOne('password','password')(class="fa fa-lock")
                                +inputOne('password','retype Password')(class="fa fa-lock")
                                +inputOne('text','email address')(class="fa fa-envelope")
                                .row
                                    .col-md-6
                                        +selectOne("Country","Egypt","coutdevoire","anyother",5,6)(class="fa fa-flag")
                                    .col-md-6
                                        +selectOne("District","shrqia","whatever","anyother",5,6)(class="fa fa-location-arrow")
                                .row
                                    .col-md-6
                                        +selectOne('Gender','male','female')(class="fa fa-venus-mars")
                                    .col-md-6
                                        +inputOne('date','asdaf')(class="fa fa-calendar")
                                button(type="submit" value="Register") Register
                                    i.fa.fa-arrow-right
                        #rightSide
                                //- h1 any else               