#respNav
    ul#innerResp
        li 
            a(href="#") 
                i.fa.fa-cogs
                span How it works 
        li 
            a(href="#") 
                i.fa.fa-sign-in
                span Sign In
        li 
            a(href="#") 
                i.fa.fa-user-plus
                span Join Us
        li 
            a(href="#") 
                i.fa.fa-share-alt
                span Hire Usher
        li 
            a(href="#") 
                i.fa.fa-address-card
                span contact us
                
    #socialBlock

        ul
            li 
                a(href="#") 
                    i.fa.fa-facebook
            li 
                a(href="#") 
                    i.fa.fa-twitter
            li 
                a(href="#") 
                    i.fa.fa-instagram
            li 
                a(href="#") 
                    i.fa.fa-youtube