include ../../inc/buttons
nav#navigation.container-fluid
    .container
        .row    
            #brand.col-xs-12.col-md-2
                 include ../../inc/brand
                 i#toggler.fa.fa-arrow-left 
            #menue.col-md-10
                 include ../../inc/navigate/navigation
                 +buttons("Join us","Hire Usher","/registerUsher.html","/login.html")
                 include  ../../inc/loginPopup 