include ./blackFeild
#loginPopup
    #closeButton X
    #msg
    //-    p Username Or Password Wrong 
    form(autocomplete="nope")#loginPopForm
        //- #feild
        //-     .input-field 
        //-         input(type="text", autocomplete="nope",required ,name="username")
        //-         label Mobile No. Or Email
        +blackFeild('text','Mobile No. or Email')
        +blackFeild('password','password')

        #forgetPassword
            a(href="#") Forget my password        
        #submiting
            #rememPass
                input(type="checkbox").styled-checkbox#remem
                label(for="remem") Remember Password
            input(type="submit", value="login")   