extends layout/authLayout 
block content 
        #usherHome.container-fluid
            .container
                .row
                    .col-md-3
                        include partials/sideNav
                    .col-md-6
                        include partials/searchBar
                        include partials/eventBlocks
                    .col-md-3
                        include partials/profileComplete
                     






