extends layout/layout
block content 

    section#companies.container-fluid
        .container
            .topJop
                .text
                    h1 Join Top Events 
                .swipperCompanies
                
    