extends layout/layout
block content 

    section#login.container-fluid
      .container
         .table1-text
            .text1
               h1 Log in & Get to work
            .userName
               input(type='text' name='userormail' placeholder='Mobile No. or Email')
               br
            .conTinue      
               input(type='submit' name='continue' value='Continue')
    section#logFotter.container-fluid
       .container
          .table2-foot
             .text2
                h5 New to Usherette?
             .signUp
                input(type='submit' name='Sign Up' value='Sign Up')         