extends layout/layout
block content
    section#signup.contanier
        form.row.col-md-4.col-xs-12.center-form
            .row.col-md-12.col-xs-11.header
                h3 Sign Up 
            .row.col-md-12.col-xs-12.group-input    
                .row.col-md-6.col-xs-6.username
                    input(type="text" placeholder="UserName")
                .row.col-md-6.col-xs-6.username
                    input(type="text" placeholder="UserName")    
            .row.col-md-12.col-xs-11.empty
            .row.col-md-12.col-xs-11.username
                input(type="text" placeholder="Password")
            .row.col-md-12.col-xs-11.empty
            .row.col-md-12.col-xs-11.username
                input(type="text" placeholder="Confirm Password")
            .row.col-md-12.col-xs-11.empty
            .row.col-md-12.col-xs-11.username
                input(type="text" placeholder="E-mail")
            .row.col-md-12.col-xs-11.empty
                
                
                        
                    