@import 'hireCard';
header{
    background: linear-gradient(to left bottom, $blueNightOp,$electroOp ), url('../../../assets/img/wide.jpg') no-repeat 0 0;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    min-height:100vh;
    max-height:100vh;
    display:flex;
    align-items:center;
       
    #headerWrap{
        height:40vh;
        padding-top:3rem;
        // padding-left:3rem;
        #animatedTxt{
            height:100%;
            #subTxt{
                width:100%;
                color: $whitesh;

            }
        }
        #hireCardWrapper{
            height:5vh;
            border-radius: 10px 10px 10px 10px;
            @include HireCard
        }
    }
 
}
