@mixin HireCard {
     #hireCard{
         background-color:$whitesh;
         height:5rem;
         width:100%;
         display:flex;
         padding-right:2rem;
         padding-left:2rem;
         padding-top:1rem;
         padding-bottom:1rem;
         border-radius:5px;
         align-items:center;
         box-shadow:$shadow;
         @include mq("phone"){
         padding-right:1rem;
         padding-left:1rem;
         }
         i{
              width:5%;
              color:$electro;
              font-size:1.5rem;
              font-weight: 100;
               @include mq("phone"){
               font-size:1rem;
               padding-right:1.5rem;
          }
         }
         input{
              &[type="text"]{
                   font-family: 'Hind';
                   font-size:1.5rem;
                   width:60%;
                   border:0;
                   background-color: $whitesh;
                   color:$electro;
                   @include mq("phone"){
                    font-size:1rem;
                    width:80%;
                    &::placeholder {
                         // color: peachpuff;
                         font-size:0.6rem;
                       }
                    }
                   &:focus{
                        outline:none;
                        color:$electro;
                   }
              }
              &[type="submit"]{
               font-family: 'Hind';
               width:15%;
               background-color: $blueNight;
               border:0;
               padding-top:0.5rem;
               padding-bottom:0.5rem;
               border-radius: 1px;
               color: $whitesh;
               text-transform: capitalize;
               font-weight: 600;
               transition:0.2s ease;
               @include mq("phone"){
                    font-size:0.5rem;
                    width:35%;
                    height:100%;
                    border-radius:5px
                
                    }
                    &:focus{
                         outline:none;
                    }
               &:hover{
                    background-color: $electro;
                    color: $whitesh;
               }
              }
         }
         #jobs{
          width:20%;
          display:flex;
          align-items:center;
          padding:1rem;
          
          // background-color: red;
              h6{
               margin:0;
               padding:0;
               font-size:1rem;
               text-transform:capitalize;
              }
              @include mq("phone"){
               display:none
                    }
         }
     

         


     }   
}