@import '../../tools/oneInputForm';
#loginPage{
    display:flex;
    align-items:center;
    justify-content: center;
    height:auto;
    #loginCard{
        margin-top:20vh;
        height:auto;
        background-color: $whitesh;
        box-shadow:$shadowBox;
        width:100%;
        // padding-bottom:5rem !important;
        overflow:hidden;
        display:flex;
        flex-wrap:wrap;
        @include mq('phone'){
            flex-direction:column;
            flex-wrap:nowrap;
            height:auto;
            overflow:none;
            padding-bottom:2rem;
            margin-bottom:2rem;

        }
        @include cardTitle;
        #leftSide{  
            width:60%;
            height:auto;
            padding-top:3rem;
            padding-bottom:2rem;
          
            @include mq('phone'){
                width:100%;
                // flex-wrap:nowrap;
    
            }
            form{
                padding-left:2rem;
                padding-right:2rem;
                width:100%;
                display:flex;
                flex-wrap:wrap;
                flex-direction:column;
                @include buttonSubmit;
                @include inputWithIcon;
                .forgetPassword{
                    color: $yellowShade;
                    text-decoration: none;

                }
                #submiting{
                    margin-top:1rem;
                    #rememPass{

                        @include styledCheck;
                    }
                }
            }
        }
        #rightSide{
            width:40%;
            min-height:100%;
            padding-bottom:2rem;
            background-color: $electro;
            color:$yellow;
            @include mq('phone'){
                width:100%;
                display:none;
                // flex-wrap:nowrap;
    
            }
        }
    }
}

