@mixin buttonSubmit{

    button[type="submit"]{
        // max-width: 100%;
        width:10rem;
        // background-color: $electro;
    background-color: $yellowShade;
    color:$whitesh;
    font-weight:600;
    border:0; 
    color:$electro;
    margin-top:.5rem;
    height:2.5rem;
    align-self:flex-end;
    @include mq('phone'){
        width:100%;
    }
    i{
        transform: translateY(0);
        padding-left:0.5rem;
        transition:0.9s ease;
        
    }
    &:hover{
        i{
            transform: translateX(1rem);

        }
    }
}
}