$yellow : #fbc531;
$yellowShade :#e1b12c;
$yellowShadeOp :#cfbf91b4;
$blueNight : #353b48;
$blueNightOp : #353b48c4;
$electro :#2f3640;
$electroOp :#2f3640cc;
$whitesh : #f5f6fa;
$darkeWhitesh :#dcdde1;
$darkeWhiteshOp :#dcdde1a8;
$blueBat:#487eb0;
$blueBatOp:#345370a1;
$blueBatDark:#4b8cc8;




